<nav class="flex sticky bg-gray-light items-center justify-between flex-wrap p-2 top-0 z-10">
    <div class="flex items-center flex-shrink-0 text-black hover:text-white mr-6 ps-10">
        <a routerLink="/" class="font-semibold text-xl tracking-tight">
            Home
        </a>
    </div>

    <div class="text-sm flex-grow flex-grow tems-center w-auto">
        <a routerLink="/cv" class="inline-block mt-0 hover:text-white mr-4">
            CV
        </a>
        <a routerLink="/projects" class="inline-block mt-0 hover:text-white mr-4">
            Projects
        </a>
    </div>
    
    <div class="text-sm w-auto text-gray inline-flex">
        <a href="https://www.linkedin.com" title="LinkedIn profile" class="mr-1">
            <svg class="fill-current h-8 w-8 mr-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"> 
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <rect x="4" y="4" width="16" height="16" rx="2" /> <line x1="8" y1="11" x2="8" y2="16" /> <line x1="8" y1="8" x2="8" y2="8.01" /> <line x1="12" y1="16" x2="12" y2="11" /> <path d="M16 16v-3a2 2 0 0 0 -4 0" /> </svg>
        </a>
        <a href="https://www.ipt.ch" title="Company Profile" class="mr-1">
            <img src="assets/company_logo.png" alt="Avatar" class="w-[24px] h-7 w-8 mr-2">   
        </a>
    </div>
</nav>
