<div class="mb-5 flex flex-col md:flex-row items-start">
    <!--Logo-->
    <div class="rounded-xl flex items-center justify-center shrink-0 h-12 w-12 mb-3">
        <img src="{{imgSource}}" alt="logo"
             class="inline-block rounded-xl">
    </div>
    <!--Content-->
    <div class="w-full space-y-5 md:ml-4">
        <!--Header-->
        <div class="flex flex-col md:flex-row justify-between gap-4">
            <div class="space-y-2.5">
                <div class="font-medium">{{jobTitle}}</div>
                <div class="flex space-x-5">
                    <div class="flex items-center font-medium text-sm leading-5 text-gray space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
                        </svg>
                        <span>{{employer}}</span>
                    </div>
                    <div class="flex items-center font-medium text-sm leading-5 text-gray space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24"
                             stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>
                        <span>{{employerLocation}}</span>
                    </div>
                </div>
            </div>

            <div class="space-y-2 sm:text-right">
                <app-badge [badgeName]="workload" class="text-xs inline-flex font-medium leading-4"></app-badge>
                <div class="flex space-x-5">
                    <div class="flex items-center font-medium text-sm leading-5 text-gray space-x-2">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                        </svg>
                        <span>{{timespan}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--Description-->
        <p class="gray-dark">
            {{jobDescription}}
        </p>
        <div *ngIf="!isLastItem" class="border-y-2 border-gray-light"></div>
    </div>
</div>
