<main class="p-5 max-w-5xl ml-auto mr-auto">
    <div class="grid gap-5 lg:grid-cols-3">
        <!-- Left Side -->
        <div class="space-y-5">
            <app-user-card [name]="'Janine Fuchs'"
                           [job]="'Graphic Designer'"
                           [currentAvailability]="'Self-employed'"></app-user-card>
            <app-information-card [information]="information"></app-information-card>
            <app-language-card [languages]="languages"></app-language-card>
            <app-skills-card [progList]="progList"
                             [otherSkills]="otherSkills"></app-skills-card>
        </div>
        <!-- Left Side -->

        <!-- Right Side -->
        <div class="space-y-5 lg:col-span-2">
            <app-summary-card [aboutMeText]="aboutMeText"></app-summary-card>
            <app-experience-card [experiences]="experiences"></app-experience-card>
            <app-education-card [educationList]="education"></app-education-card>
        </div>
        <!-- Right Side -->
    </div>
</main>
