<div class="shadow rounded-xl p-7 bg-white mb-5">
    <h2 class="text-xl font-semibold mb-1.5">Experience</h2>
    <div *ngFor="let experience of experiences">
        <app-experience-item
                [imgSource]="experience.imgSource"
                [jobTitle]="experience.jobTitle"
                [employer]="experience.employer"
                [employerLocation]="experience.employerLocation"
                [workload]="experience.workload"
                [timespan]="experience.timespan"
                [jobDescription]="experience.jobDescription"
                [isLastItem]="experience.isLastItem">
        </app-experience-item>
    </div>

</div>


