<div class="shadow rounded-xl p-7 bg-white mb-5">
  <h2 class="text-xl font-semibold mb-1.5">About me</h2>
  <p class="text-gray-600 mb-5">I am a dedicated software engineer at ipt with a strong background, having graduated from the University of Bern. My professional journey is fueled by a profound passion for artificial intelligence and its transformative potential. With a solid foundation in both academics and industry, I am committed to crafting innovative solutions that harness the power of AI to drive technological advancement.</p>
</div>
