<div class="shadow rounded-xl overflow-hidden bg-white mb-5">
  <div class="h-32 bg-cover" style="background-image: url('assets/cover.jpg')"></div>
  <div class="pt-14 p-7 bg-white relative">
    <a href="/personal_cv/"><img src="assets/cv_tatjana.jpg" alt="Avatar"
                                 class="top-[-40px] h-[80px] border-white rounded-lg border-2 absolute"></a>
    <div class="flex justify-between">
      <div class="text-xl font-semibold mb-1.5">{{name}}</div>
      <app-badge class="text-right" [badgeName]="currentAvailability"></app-badge>
    </div>
    <div class="text-sm text-gray-400">{{job}}</div>
  </div>
</div>
