<div class="shadow rounded-xl overflow-hidden mb-5">
  <div class="h-48 bg-cover" style="background-image: url('https://c0.wallpaperflare.com/preview/1021/163/815/technology-networking-abstract-business.jpg')">
    <div class="p-10 relative">
      <a href="/personal_cv/"><img src="assets/cv_dominique.jpeg" alt="Avatar"
                                 class="top-[20px] h-[140px] border-indigo-50 rounded-full border-2 absolute"></a>
      <div class="text-xl font-semibold top-[50px] left-[200px] absolute text-indigo-50">{{name}}</div>
      <div class="text-sm text-gray-400 top-[80px] left-[200px] absolute text-indigo-50">Software Developer</div>
    </div>
  </div>
</div>
