<div class="shadow rounded-xl overflow-hidden bg-white mb-5">
  <div class="h-32 bg-cover" style="background-image: url('assets/background.jpeg')"></div>
  <div class="pt-14 p-7 bg-green relative">
    <a href="/personal_cv/"><img src="assets/cv_janine.jpg" alt="Avatar"
                                 class="top-[-40px] h-[80px] border-white rounded-lg border-2 absolute"></a>
    <div class="flex justify-between">
      <div class="text-3xl font-serif italic mb-1.5">{{name}}</div>
      <app-badge class="text-right font-serif italic" [badgeName]="currentAvailability"></app-badge>
    </div>
    <div class="text-sm text-gray-400 font-serif italic">{{job}}</div>
  </div>
</div>
