<main class="p-5 max-w-5xl ml-auto mr-auto">
    <div class="grid place-items-center gap-5 lg:grid-cols-5">
        <!-- Left Side -->
        <div class="space-y-5 lg:col-span-2">
            <img src="assets/cv_tatjana.jpg" alt="Avatar" class="rounded-lg">
        </div><!-- Left Side -->
  
        <div class="space-y-5 lg:col-span-3"><!-- Right Side -->
            <div>
                <h2 class="text-5xl font-semibold mb-1.5 pt-10">Tatjana Meier</h2>
                <p class="pt-5 text-xl">Consultant, Software Engineer and passionate about AI</p>
            </div>
        </div><!-- Right Side -->
    </div>
</main>

<div class="bg-gray antialiased">
    <div class="grid gap-5 lg:grid-cols-3 p-5 max-w-5xl ml-auto mr-auto">
        <div class="space-y-5"><!-- Left Side -->
            <a routerLink="/cv">
                <app-preview-card 
                    [imagePath]="'assets/briefcase.jpg'" 
                    [description]="'Learn about my skills and job history'"></app-preview-card>
            </a>
        </div><!-- Left Side -->

        <div class="space-y-5"><!-- Middle -->
            <a routerLink="/projects">
                <app-preview-card 
                    [imagePath]="'assets/project.jpg'" 
                    [description]="'Dive into my latest projects'"></app-preview-card>
            </a>
        </div><!-- Middle -->

        <div class="space-y-5"><!-- Right Side -->
            <a href="https://ipt.ch/de/impuls/">
                <app-preview-card 
                    [imagePath]="'assets/blog.jpg'" 
                    [description]="'Visit my company\'s blog'"></app-preview-card>
            </a>
        </div><!-- Right Side -->
    </div>
</div>
